body {
  font-family: Raleway,"PT Sans",'Roboto',Arial,Helvetica, sans-serif !important;
  font-size: 1rem !important;
	position: relative;
	font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; 
  letter-spacing: 0.015625rem;
  overflow-x: hidden;
}
td > p{
	margin-bottom: 0rem;
}
p > a, td > a{
	color: black;
	font-weight: bold;
}
table{
	margin-bottom: 2rem !important;
}
/* Header CSS */
.header{
	margin-bottom: 0.625rem;
}
.header-items{
	display: flex;
	justify-content: center;
	max-width: 68.75rem;
	margin: 1.5rem auto;
	align-items: center;
}
.header-logo-img{
	padding: 1rem;
	width: 100%;
	height: auto;
}
.header-nav{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding-top: 0.375rem;
}
.header-nav-link{
	color: #252954 !important;
}
.header-name{
	color: #252954;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
}
.header-ataturk{
	height: 6.25rem;
	width: auto;
	opacity: 0.8;
}
.diss{
	pointer-events: auto;
	cursor: pointer;
}
@media (min-width: 768px){
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown:hover>a {
		color: #008ac3;
	}
	.diss{
		pointer-events: none;
		cursor: default;
	}
	.header-logo-img{
		padding: 0;
		height: 6.5rem;
		width: auto;
	}
}
/* Navigation CSS */
.navigation{
	margin-bottom: 3.125rem;
}
.navigation-nav{
	font-family: 'Gotham','Roboto',sans-serif;
	font-size: 1rem;
	font-weight: 600;
	padding-top: 0.375rem;
}
.navigation-items{
	display: flex;
	justify-content: center;
	margin: 1.5rem auto;
}
/* Main CSS */
.main{
	max-width: 68.75rem;
	margin: 0 auto;
}
.main-top{
	margin-top: 1.25rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.main-top-button{
	width: 100%;
	padding: 1rem;
	background: rgb(0,180,219);
	border-radius: 0.3125rem;
	border: 0.0625rem solid #00b4db;
	color: white;
	font-size: 1.25rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin: 0.5rem 0rem;
}
.main-top-button:hover{
	background: linear-gradient(135deg, rgba(0,180,219,1) 0%, rgba(0,131,176,1) 100%);
}
@media(min-width: 768px){
	.main-top-button{
		padding: 1.25rem;
		font-size: 1.5rem;
		margin: 0.625rem 0rem;
	}
}
.main-top-nav{
	margin-top: 30px; 
	width: 20%;
	border-top: 1px solid rgba(37, 41, 84, 0.2);
	/*border-top: 1px solid rgba(0, 138, 195, 0.2);
	border-bottom: 1px solid rgba(0, 138, 195, 0.2);*/
}
.tab-content{
	width: 80%;
}
.main-top-akredite{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 398px;
	margin-bottom: 0 !important;
	padding-left: 0;
}
.main-nav{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #212529;
	opacity: 0.7;
}
.main-nav.active{
	border-bottom: 0.0625rem solid #33a1ce;
	opacity: 1.0;
}
.main-second-nav{
	margin-top: 1.25rem;
}
.main-second-nav-item{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #212529;
	opacity: 0.5;
}
.main-second-nav-item.active{
	opacity: 1.0;
}
.main-top-one{
	margin-top: 1.875rem;
}
.main-top-one-title{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1.25rem;
	color: #000055;
}
.main-top-one-content{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #212529;
}
.main-top-one-content-side{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #212529;
	display: flex;
}
.main-top-one-content-one{
	font-family: 'Roboto', sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	color: #212529;
	width: 100%;
}
.main-top-one-content-two{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #212529;
	width: 25%;
	display:none;
}
.main-top-one-content-full{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #212529;
	/*width: 100%;*/
	margin-top: -1.25rem;
	text-align: center; 
}
.slider-full-img{
	width: auto;
	height: 400px;
}
.main-top-one-content > a{
	font-weight: 900;
	color: black;
}
.main-top-one-continue{
	position: absolute;
	margin-top: 0.625rem;
	right: 1rem;
	bottom: 1rem;
	font-weight: 800;
	color: #212529;
}
@media(min-width: 768px){
	.main-top-one-title{
		font-weight: 900;
		font-size: 1.75rem;
	}
	.main-top-one-content{
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		font-weight: 500;
		color: #212529;
	}
	.main-top-one-content-one{
		font-family: 'Roboto', sans-serif;
		font-size: 1.25rem;
		font-weight: 500;
		color: #212529;
		width: 75%;
	}
	.main-top-one-content-two{
		font-family: 'Roboto', sans-serif;
		font-size: 1.25rem;
		font-weight: 500;
		color: #212529;
		width: 25%;
		display: block;
	}
	.main-top-one-continue{
		position: absolute;
		margin-top: 0.625rem;
		right: 5.625rem;
		bottom: 1rem;
		font-weight: 800;
		color: #212529;
	}
}
.main-top-second{
	border-left: 0;
}
.main-top-second:hover{
	border-color: rgba(00,00,85,0.8);
}
.main-top-second-title{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1.25rem;
	color: #000055;
	padding-top: 0.75rem;
	padding-left: 0;
	margin-top: 1rem;
}
.main-top-second-content{
	font-family: 'Raleway','Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #212529;
	padding: 0.75rem 0;
}
.main-top-second-content > a{
	color: black;
	font-weight: 600;
}
.main-top-second-content > img {
	width: 100%;
	max-width: 50rem;
}
@media (min-width: 768px){
	.main-top-second{
		border-left: 4px solid;
		border-color: rgba(51,161,206,0.0);
		padding: 1rem 0rem;
	}
	.main-top-second-title{
		font-size: 1.5rem;
		padding-left: 0.75rem;
	}
	.main-top-second-content{
		font-size: 1rem;
		font-weight: 500;
		color: #212529;
		padding-left: 0.75rem;
	}
}
.main-carousel-icon{
	height: 2.5rem;
	color: #008ac3;
	opacity: 0.5;
}
.main-carousel-icon:hover{
	opacity: 0.9;
}
.main-middle{
	margin-top: 3.125rem;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3.125rem;
}
.main-middle-button{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	border-radius: 0.3125rem;
	border: 1px solid rgba(37, 41, 84, 0.2);
	color: #163c73;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main-middle-button:hover{
	background-color: #163c73;
	color: white;
}
.main-middle-icon{
	height: 2.25rem;
	margin: 16px 0 8px;
}
.main-bottom{
	display: none;
	margin-top: 6.25rem;
	margin-bottom: -6rem;
}
@media (min-width: 768px){
	.main-bottom{
		display: block;
		margin-top: 6.25rem;
		margin-bottom: -6rem;
	}
}
.main-bottom-slider{
  position: relative;
  animation-iteration-count: infinite;
  animation: mymove 50s infinite normal;
	-webkit-animation: mymove 50s infinite normal; /* Safari 4+ */
  -moz-aanimation: mymove 50s infinite normal; /* Fx 5+ */
  -o-animation: mymove 50s infinite normal;/* Opera 12+ */
 }
.main-bottom-slider:hover{
	-webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
@keyframes mymove {
  0%   {left: 0rem;}
  50% {left: -87.5rem;}
  100% {left: 0rem;}
}
.main-bottom-title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	color: #000055;
	margin: 0 0 1rem;
	border-bottom: 3px solid #000055;
}
.main-bottom-title > a{
	color: #000055;
}
.main-bottom-tanınma{
	width: 100%;
	height: auto;
	margin: 1rem auto;
	justify-content: center;
	display: flex;
}
.main-bottom-img{
	display: flex;
	flex-wrap: nowrap;
}
.bottom-img{
	padding: 0.5rem;
	position: relative;
  display: inline-block;
}
.bottom-img .img-top {
  display: none;
	position: absolute;
	height: 2.5rem;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 99;
}
.bottom-img:hover .img-top {
	display: inline;
}
.link-img{
	height: 2.5rem;
	width: auto;
}
/* Footer CSS */
.footer{
	background-color: #000055;
	color: white;
	margin-top: 6.25rem;
	padding-top: 1rem;
	border-top: 0.0625rem solid #eaeaea;
	width: 100%;
	font-size: 13px;
}
.footer-items{
	display: flex;
	flex-wrap: wrap;
	max-width: 68.75rem;
	margin: 0 auto;
}
.footer-img{
	width: 100%;
	max-width: 12rem;
	margin-bottom: 2.5rem;
}
.footer-info-item{
	display: flex;
	margin-bottom: 0.75rem;
}
.footer-item{
	margin: 1rem 0rem;
}
.footer-info-icon{
	height: 1rem;
	width: 1rem;
	margin-right: 0.75rem;
	text-align: center;
}
.footer-info-color > a{
	color: white !important;
}
.footer-icon{
	height: 1rem;
}
.footer-item-icon{
	height: 1rem;
	width: 1rem;
	text-align: left;
}
.footer-item-link{
	margin-bottom: 0.5rem;
	padding-left: 0.75rem; 
	display: flex;
	color: white;
}
.footer-item-link > a {
	color: white;
	opacity: 0.4;
}
.footer-item-link > a:hover{
	color: white;
	opacity: 1.0;
}
.footer-item-title{
	margin-bottom: 0.75rem;
	font-weight: 500;
	font-size: 15px;
}
.footer-item-title-calistay{
	padding-top: 1.5rem; 
}
@media (min-width: 768px){
	.footer-item-title-calistay{
		padding-top: 0.75rem;
	}
}
.footer-copy{
	margin-top: 1rem;
	text-align: center;
	background-color: #00003B;
	font-weight: 700;
	font-size: 0.6rem;
	padding: 1rem;
}
/* Akreditasyon CSS */
.akreditasyon{
	margin-bottom: 3.25rem;
}
.akreditasyon-sidebar {
	position: -webkit-sticky;
  position: sticky;
  top: 1.25rem;
}
.akreditasyon-sidebar-item{
	margin-bottom: 0.75rem;
}
.akreditasyon-button{
	color: #008ac3;
	opacity: 0.5;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
.akreditasyon-button:hover{
	color: #fff;
  background: rgb(0,138,197);
	background: linear-gradient(138deg, rgba(0,138,197,1) 0%, rgba(79,173,213,1) 100%);
	border-radius: 0.25rem;
}
.akreditasyon-button.active{
	color: #fff;
  background: rgb(0,138,197);
	background: linear-gradient(138deg, rgba(0,138,197,1) 0%, rgba(79,173,213,1) 100%);
  opacity: 1.0;
  border-radius: 0.25rem;
}
.akreditasyon-indir-button{
	color: #fff !important;
  background: rgb(0,138,197);
	background: linear-gradient(138deg, rgba(0,138,197,1) 0%, rgba(79,173,213,1) 100%);
  opacity: 1.0;
  border-radius: 0.25rem;
}
.akreditasyon-indir-button > a{
	color: #fff !important;
}
.akreditasyon-indir-button > a:hover{
	text-decoration: none;
}
.akreditasyon-content{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
.akreditasyon-content-item > p {
	color: #212529;
}
.akreditasyon-content-title{
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: #000055;
	margin-bottom: 3.125rem;
	border-bottom: 0.375rem solid #000055;
}
.akreditasyon-content-subtitle{
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #008ac3;
	margin-bottom: 0.75rem;
}
.akreditasyon-bottom-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.akreditasyon-rapor{
	color: #008ca3;
}
/* Genel CSS */
.jumbotron{
	font-size: 1.25rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.badge-custom{
	background-color: #000055;
	color: white;
	margin-top: 1.25rem;
}
.genel{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0 0.75rem;
}
.genel > span{
	display: block;
}
.genel > p > h5{
	color: #008ac3 !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 900 !important;
	margin: 0.75rem 0rem !important;
}
.main-top-second-content > p > h5{
	color: #008ac3 !important;
}
.genel > h1,h2,h3,h4,h5,h6{
	color: #000055;
	font-family: 'Raleway', sans-serif;
	font-weight: 900 !important;
	margin: 0.75rem 0rem !important;
	padding: 0.25rem 0rem;
}
.genel > h1{
	border-bottom: 4px solid #000055;
	line-height: 1.5;
	margin-bottom: 2rem !important;
}
/* Çalıştay CSS */
.calistay-nav{
	justify-content: left !important;
}
.calistay-button{
	color: #fff;
  background: rgb(0,138,197);
	background: linear-gradient(138deg, rgba(0,138,197,1) 0%, rgba(79,173,213,1) 100%);
  opacity: 1.0;
  border-radius: 0.3125rem;
  margin: 0 0.75rem 0.75rem 0;
  font-weight: 500; 
}
.calistay-button:hover{
	color: #fff !important;
}
.calistay-img {
	width: 100%;
	height: auto;
	padding: 0.5rem 0;
}
/* İletişim CSS */
.iletisim > p > a{
	font-weight: 400;
}
.iletisim-harita{
	width: 100%;
	height: auto;
	border: 0rem;
}
.iletisim-adres{
	border-right: 0.0625rem solid #dddddd;
	padding: 1rem 0.9375rem;
	margin-top: 2rem;
}
.iletisim-info{
	padding-top: 1rem;
	margin-top: 2rem;
	margin-left: 2rem;
}
.iletisim-info-color > a{
	color: #212529 !important;
}
.iletisim-info-color > a:hover{
	color: #008ac3!important;
}
.iletisim-info > p{
	padding-bottom: 2rem;
}
.iletisim-info > p > svg{
	padding-left: 1rem;
}
.iletisim-mesaj{
	margin: 1.25rem 0rem;
}
.iletisim-button{
	color: white !important;
	background: rgb(0,180,219) !important;
	margin: 0 15px;
}
.iletisim-button:hover{
	background: linear-gradient(135deg, rgba(0,180,219,1) 0%, rgba(0,131,176,1) 100%) !important;
}
/* Yönetim CSS */
.yonetim-text{
	border-bottom: 0.0625rem solid #eeeeee;
}
.safe{
	margin-bottom: 15.625rem;
}
.safe-two{
	margin-bottom: 2.5rem;
}
.kurul-title{
	color: #008ac3;
}
.webinar-genel{
	text-align: center;
}
.webinar-afis{
	width: 640px;
	height: auto;
	margin-bottom: 1rem;
}
.webinar-afis-ana{
	width: 100%;
	height: 360px;
}
.webinar-bottom{
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
	color: #000055;
	font-size: 1.5rem;
	font-weight: 800;
}
.webinar-bottom img {
	width: 100%;
	height: auto;
}
.webinar-bottom-title{
	font-size: 1.25rem;
	font-weight: 700;
	margin: 1rem 0rem 2rem;
	color: #008ac3;
}
.madde-p{
	padding-left: 2rem;
	padding-right: 2rem;
}
.madde-span{
	padding-left: 1rem;
	padding-right: 1rem;
}
.sempozyum-title{
	color: #008ac3;
}
.sempozyum-alt{
	padding-top: 3rem;
}
.covid-index{
	text-align: center;
	font-size: 1.25rem;
	font-weight: 800;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.covid-index > h2{
	font-size: 3rem;
}
.covid-index > a{
	color: #000055;
	padding: 0.25rem 0.5rem;
	font-size: 1.5rem;
}
.covid-index > a:hover{
	border-bottom: 3px solid #008ac3;
	color: #008ac3;
}
.covid-p{
	text-align: left;
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.covid-p > a{
	color: #008ac3;
}
.nav-item {
	letter-spacing: 0;
}
.surec-akis-img{
	width: 100%;
}
.slider-img{
	width: 100%;
	height: auto;
}
.iletisim-mesaj-logo{
	display: none;
}
.iletisim-mesaj-logo-mobil{
	display: block;
	margin-top: 3rem;
}
@media (min-width: 768px){
	.iletisim-mesaj-logo{
		display: block;
	}
	.iletisim-mesaj-logo-mobil{
		display: none;
	}
}

.belge-span {
	color: red;
}

/* 404 CSS */
.dortyuzdort{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-size: 4rem;
	font-weight: 500;
	margin-top: 5%;
}
.dortyuzdort > h1 {
	color: #000055;
}
/* İndex Duyuru */
.main-middle-duyuru {
	border: 1px solid rgba(0, 138, 195, 0.2);
	padding: 1rem;
	width: 100%;
}
.main-middle-duyuru > h4 {
	text-align: center;
	width: 100%;
}
.second-content-img {
	width: 100%;
	height: auto;
	margin: 1rem 0;
}

/* Fast Akredite */
.main-fast-akredite{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 30px 9% 90px;
}
.fast-akredite-button{
	margin: 15px 0;
	width: 100%;
	height: 200px;
}

/* Duyuru, Etkinlik, Haber */

.main-new{
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.main-new-block{
	background-color: #f5f5f5;
	margin: 15px 0;
}
@media (min-width: 768px){
	.main-new-block{
		background-color: #f5f5f5;
		margin: 30px 0;
	}
}
.main-new-block-alt{
	margin: 0 1px;
	border: 1px solid #fefefe;
	border-radius: 10px;
	background-color: #fff;
	height: 545px;
	-webkit-box-shadow: 0px 1px 15px 1px #eee; 
	box-shadow: 0px 1px 15px 1px #eee;
}
.main-block-title{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
}

.block-title-main {
	font-size: 20px;
	color: #163c73;
	font-weight: 700;
}

.block-title-all{
	font-size: 12px;
	color: darkgray;
	font-weight: 400;
	cursor: pointer;
}
.block-title-all a{
	color: darkgray;
}
.block-title-all:hover{
	color: black;
}
.block-title-all:hover a{
	color: black;
}
.main-block-subtitle {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
	border-top: 1px solid #f5f5f5;
	cursor: pointer;
	transition: 0.3s;
	height: 95px;
}
.main-block-subtitle:hover{
	padding-right: 12px;
	transition: 0.3s;
}
.main-block-subtitle:hover .block-subtitle-text {
	padding-left: 12px;
	transition: 0.3s;
}
.block-subtitle-date {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #f5f5f5;
	padding-right: 16px;
	width: 100px;
}
.date-day{
	font-size: 20px;
	color: #163c73;
	font-weight: 800;
}

.date-month{
	font-size: 16px;
	color: #555;
	font-weight: 700;
}

.date-year{
	font-size: 12px;
	color: darkgray;
	font-weight: 600;
}

.block-subtitle-text {
	padding-left: 8px;
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
	width: 100%;
}

/* Hemsis */

.nav-item-hemsis{
	text-align: center;
	padding: 8px;
}

.nav-item-hemsis:hover{
	color: #163c73;
}

.nav-item-hemsis h2{
	margin-bottom: 0px !important;
}

.nav-item-hemsis span{
	color: #163c73;
}

/* Header Up */

.header-up{
	background-color: #252954;
	color: #fff;
	display: none;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	padding: 0.5rem 4rem;
	font-size: 13px;
	align-items: center;
}
@media (min-width: 768px){
	.header-up{
		display: flex;
	}
}
.header-up-item{
	margin: 0 0.4rem;
	display: flex;
	align-items: center;
	position: relative;
}
.header-up-item a{
	color: #fff;
	margin: 0 0.4rem;
	display: flex;
	align-items: center;
}
.header-up-item a:after{
	content:'';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: 1s;
}
.header-up-item a:hover{
	color: white;
}
.header-up-item a:hover:after{
  transform: scaleX(1);
  transform-origin: center;
}
.header-icon {
	height: 20px;
	padding-right: 6px;
}
.iletisim-h5 {
	padding: 0 8px;
}




